<%- partial(theme.header && theme.header.partial || '_ksio/partials/header') %>
<main class="Page-content" style="height: 100%;">
  <div style="height: calc(100% - 271px); display: flex; align-items: center; justify-content: center; text-align: center;">
    <div>
      <h1 style="margin-top: 0; margin-bottom: .3em; font-size: 10rem; font-weight: 700;"><%= config.title %></h1>
      <p style="margin-bottom: 0; font-size: 2.5rem;"><%= config.subtitle || config.description %></p>
    </div>
  </div>
</main>
<%- partial(theme.footer && theme.footer.partial || '_ksio/partials/footer') %>
