.DS_Store
sh.exe.stackdump

*.log
node_modules/

.cache/
.asset-cache/
.sass-cache/

src/jekyll/_data/knosys/
src/jekyll/_knosys/
src/jekyll/_assets/*/ksio/
src/jekyll/_site/

src/hexo/themes/lime/source/*/ksio/
src/hexo/Thumbs.db
src/hexo/db.json
src/hexo/public/
src/hexo/.deploy*/
src/hexo/_multiconfig.yml
