<% if (page.ksio_slot_banner) { %>
  <%- partial(page.ksio_slot_banner) %>
<% } else if (page.banner) { %>
  <!-- 页面横幅 -->
  <div class="Page-banner hidden-xs" style="background-image: url('<%= url_for(page.banner.url) %>');">
    <figure class="sr-only">
      <%- image_tag(page.banner.url, { alt: page.banner.description || '' }) %>
      <figcaption><%= page.banner.description %></figcaption>
    </figure>
  </div>
<% } %>
