@import "../../helper";

.Homepage {
  &-header {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 96px 20px;
    text-align: center;
    background-color: #fff;

    h1 {
      margin-top: 0;
      margin-bottom: .3em;
      font-size: 10rem;
      font-weight: 700;
    }
  }

  &-slogan {
    font-size: 2.5rem;
  }

  &-body {
    &:before {
      content: "\0020";
      display: block;
      height: 0;
      @include box-shadow(0 2px 2px 0 rgba(0, 0, 0, .1), 0 1px 5px 3px rgba(0, 0, 0, .1));
    }
  }
}

.GetStarted {
  $height: 46px;

  margin-top: 56px;
  margin-bottom: 0;

  a {
    display: inline-block;
    padding: 0 30px;
    font-weight: 400;
    line-height: $height;
    border-radius: $height;
    color: #fff;
    background-color: #337ab7;

    &:hover {
      text-decoration: none;
      background-color: #0871ab;
    }
  }

  .fa {
    margin-left: .5em;
  }
}

.FeatureList {
  max-width: 960px;
  margin: 0 auto;
  padding: 52px 0;
  font-size: 14px;
  @include pie-clearfix;

  &-item {
    float: left;
    padding: 18px 36px;

    h3 {
      margin: 0;
      font-size: 18px;
    }

    p {
      margin: 12px 0 0;
      color: #555;
    }

    @media (min-width: $screen-sm-min) {
      width: percentage(1 / 3);
    }
  }
}
