<footer class="Page-footer Footer">
  <div class="<% if (site.data['local/repos'] && site.data['local/repos'][page.repo]) { %>container-fluid<% } else { %>container<% } %>">
    <% const utm_params = `utm_source=${theme.meta.url}&utm_medium=common-footer` %>
    <div class="Footer-description">
      <% if (theme.footer && (theme.footer.links || []).length > 0) { %>
        <nav class="Footer-navs">
          <ul><% theme.footer.links.forEach(link => { %><li><%- partial('_ksio/components/link', { link, utm: utm_params, wrap: true }) %></li><% }) %></ul>
        </nav>
        <% } %>
      <div class="Footer-copyright">
        <p><%- partial('_ksio/components/copyright', { utm: utm_params }) %></p>
        <p>由 <a href="https://linxoid.com/ourai/?<%= utm_params %>" target="_blank" rel="external nofollow">欧雷</a> 用 ♥ 设计与开发</p>
      </div>
      <div class="Footer-licenses">
        <p>本站通过 <a href="https://knosysio.github.io/?<%= utm_params %>" target="_blank" rel="external nofollow">KnoSys</a> 借助 <a href="https://hexo.io/" target="_blank" rel="external nofollow">Hexo</a> 生成</p>
      </div>
    </div>
  </div>
</footer>
