{% if page.ksio_slot_header %}
  {% include "{{ page.ksio_slot_header | replace: '.html', '' }}.html" %}
{% else %}
  {% ifhascontent header_content %}
    {% contentblock header_content %}
  {% endifhascontent %}
  {% ifnothascontent header_content %}
    {% if page.ksio_slot_title %}
      <h1 class="Article-title">{% include "{{ page.ksio_slot_title | replace: '.html', '' }}.html" %}</h1>
    {% else %}
      {% ifhascontent post_title %}
        <h1 class="Article-title">{% contentblock post_title %}</h1>
      {% endifhascontent %}
      {% ifnothascontent post_title %}
        <h1 class="Article-title">{{ page.title }}</h1>
      {% endifnothascontent %}
    {% endif %}
    {% if page.ksio_slot_meta %}
      {% include "{{ page.ksio_slot_meta | replace: '.html', '' }}.html" %}
    {% else %}
      {% ifhascontent post_meta %}
        {% contentblock post_meta %}
      {% endifhascontent %}
    {% endif %}
  {% endifnothascontent %}
{% endif %}
