<header class="Page-header">
  <div class="navbar navbar-static-top">
    <div class="<% if (site.data.local && site.data.local.repos && site.data.local.repos[page.repo]) { %>container-fluid<% } else { %>container<% } %>">
      <div class="navbar-header">
        <% if (theme.header && (theme.header.navs || []).length > 0) { %>
          <button class="navbar-toggle collapsed" type="button" data-target=".Page-navs" data-toggle="collapse">
            <span class="sr-only">Toggle navs</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <% } %>
        <% if (theme.brand && theme.brand.parent) { %>
          <div class="navbar-brand"><%- partial('_ksio/components/brand-link', { className: '' }) %></div>
        <% } else { %>
          <%- partial('_ksio/components/brand-link', { className: 'navbar-brand' }) %>
        <% } %>
      </div>
      <!-- Nav menus -->
      <nav class="Page-navs navbar-collapse collapse">
        <ul class="nav navbar-nav<% if (theme.header && theme.header.navbar && theme.header.navbar.placement == 'right') { %> navbar-right<% } %>">
          <%- partial('_ksio/components/nav-list', { navs: ((theme.header && theme.header.navs) || []) }) %>
        </ul>
      </nav>
    </div>
  </div>
</header>
