---
layout: ksio/default
css:
  - ksio/vendors/share
js:
  - ksio/vendors/share.min
  - ksio/components
---

{% include {{ site.ksio.header.partial | default: "ksio/partials/header.html" }} %}
<main class="Page-content">
  {% include ksio/slots/banner.html %}
  <!-- 内容主体 -->
  <div class="container">
    <article class="Page-main Article">
      <header class="Article-header">
        {% include ksio/slots/header.html %}
      </header>
      <div class="Article-content col-md-9">{% include ksio/slots/content.html %}</div>
      <footer class="Article-footer col-md-3">{% include ksio/slots/footer.html %}</footer>
      {% if page.siblings == true %}
        <!-- 相邻文章 -->
        <nav class="Article-siblings LightBox col-md-9">
          {% assign siblings = "previous next" | split: " " %}
          <ul>
            {% for sibling_key in siblings %}
              {% assign sibling = page[sibling_key] %}
              {% assign class_name = "Sibling Sibling--" | append: sibling_key %}

              {% if sibling.url %}
                {% if sibling.banner %}
                  {% assign sibling_image = sibling.banner.url | asset_path %}
                  {% assign sibling_image = sibling_image | prepend: "url('" | append: "')" %}
                {% else %}
                  {% assign sibling_image = "none" %}
                  {% assign class_name = class_name | append: " u-noCover " %}
                {% endif %}

                <li class="{{ class_name }}">
                  <a href="{{ sibling.url }}" style="background-image: {{ sibling_image }};">
                    <h3>{{ sibling.title }}</h3>
                    <p>{{ sibling.excerpt | markdownify | strip_html | strip_newlines | escape_once | truncate: 100, "..." }}</p>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
      {% if site.ksio.social.comment and page.comments == true %}
        <!-- 评论区 -->
        <div class="Article-comments col-md-9">{% include ksio/widgets/comment.html %}</div>
      {% endif %}
    </article>
    {% include ksio/slots/aside.html %}
  </div>
</main>
{% include {{ site.ksio.footer.partial | default: "ksio/partials/footer.html" }} %}
