<% const banner_url = url_for('images/ksio/banners/blog.jpg') %>
<div class="Page-banner is-translucent hidden-xs" style="background-image: url('<%= banner_url %>');">
  <figure class="sr-only">
    <img src="<%= banner_url %>" alt="博客文章">
    <figcaption>博客文章</figcaption>
  </figure>
</div>
